/*Page preloader*/
.loader {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader > img {
    width: 100px;
}

.loader.hidden {
    animation: fadeOut 10s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.thumb {
    height: 100px;
    border: 1px solid black;
    margin: 10px;
}

.thumb {
    height: 100px;
    border: 1px solid black;
    margin: 10px;
}

body{
	background-color: #EDEFE6;
}

::-webkit-input-placeholder {
	font-size: 13px!important;
}

:-moz-placeholder { /* Firefox 18- */
	font-size: 13px!important;
}
::-moz-placeholder {  /* Firefox 19+ */
	font-size: 13px!important;
}

a{
	font-family: 'Catamaran', sans-serif;
}

h2{
	font-family: 'Catamaran', sans-serif;
	font-style: italic;

}

h4{
	font-family: 'Catamaran', sans-serif;

}

p{
	font-family: 'Duru Sans', sans-serif;

}

h5{
	font-family: 'Duru Sans', sans-serif;

}

label{
	font-family: 'Duru Sans', sans-serif;
}

.alogo{
	font-family: 'Racing Sans One', cursive;

}

.map-responsive{
	overflow:hidden;
	padding-bottom:56.25%;
	position:relative;
	height:0;
}
.map-responsive iframe{
	left:0;
	top:0;
	height:100%;
	width:100%;
	position:absolute;
}

.map-container-5{
	overflow:hidden;
	padding-bottom:56.25%;
	position:relative;
	height:0;
}
.map-container-5 iframe{
	left:0;
	top:0;
	height:100%;
	width:100%;
	position:absolute;
}

.pregister{
	font-size:12px;
}

.aregister{
	font-size: 12px;
	font-family: 'Duru Sans', sans-serif;
}

.divregister{
	padding-top: 10px;
}

.navtextlink{
	font-size: 20px;
	font-family: 'Catamaran', sans-serif;
}

.logoimage{
	height: 150px;
}

.imgaboutus{
	height: 250px; 
	width: 250px;
	border-radius: 250px;
}
body {
  /* Location of the image */
  background-image: url(../images/s209.jpg);
  
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  
  /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;
  
  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: #464646;
}

hr{
	color: white;
}

.cardwidth{
	width:16rem;
}

.bgcolor{
	background-image: url(../images/background.jpg) !important;
	background-repeat: repeat;
}

.pwhatsnew{
	padding-top: 20px;
}


.imglandingpagelogo{
	margin-top: 300px;
	height: 200px;
	width: 200px;
}

.h1landing{
position: relative;
bottom: 35px;
font-family: 'Racing Sans One', cursive;
}
.dropdown1{
	width: 300px;
	margin-bottom: 10px;
