@media only screen and (max-width: 500px) {
	.h5carousel{
		position: relative;
		top: 30px;
		font-size: 8px;
	}

	.picturecaption{
		font-size: 6px;
		font-weight: bold;
		position: relative;
		top: 25px;
	}
}

@media only screen and (min-width: 800px) {
.mediumbestselling{
	width: 300px; !important;


}
}
@media only screen and (min-width: 800px) {
.mediumbestselling{
	width: 300px; !important;


}
}.h2tomei{
	font-size: 28px;
}
}



/*Loader CSS start*/
*{
	padding: 0;
	margin: 0;
}



#loading{
	position: fixed;
	width: 100%;
	height: 100vh;
	background: #fff
	url('http://garudapr.in/wp-content/uploads/2017/12/loader.gif')
	no-repeat center center;	
	z-index: 99999;
}

/*Loader CSS end*/



/*Gallery CSS Start*/
.btn:focus, .btn:active, button:focus, button:active {
	outline: none !important;
	box-shadow: none !important;
}

#image-gallery .modal-footer{
	display: block;
}

.thumb{
	margin-top: 15px;
	margin-bottom: 15px;
}
/*gallery CSS end*/

.h5carousel{
	font-color: black;
	font-weight: bold;
}
.h2gallery{
	padding-top: 30px;
}

small{
	color: white;
}
body{
	background-color: #EDEFE6;
}

::-webkit-input-placeholder {
	font-size: 13px!important;
}

:-moz-placeholder { /* Firefox 18- */
	font-size: 13px!important;
}
::-moz-placeholder {  /* Firefox 19+ */
	font-size: 13px!important;
}

a{
	font-family: 'Catamaran', sans-serif; !important;
}

h2{

font-family: 'Racing Sans One', cursive;
color: black;

}

h4{
	font-family: 'Catamaran', sans-serif;

}

p{
	font-family: 'Open Sans', sans-serif;

}

h5{
	font-family: 'Open Sans', sans-serif;
}

label{
	font-family: 'Open Sans', sans-serif;
}

.alogo{
	font-family: 'Racing Sans One', cursive;

}

.img-thumbnail{
	width: 350px;
	height: 180px;
}

.picturecaption{
	/*	font-size: 10px;*/
	font-weight: bold;
}


.pregister{
	font-size:12px;
}

.aregister{
	font-size: 12px;
	font-family: 'Duru Sans', sans-serif;
}

.divregister{
	padding-top: 10px;
}

.navtextlink{
	font-size: 20px;
	font-family: 'Catamaran', sans-serif;
}

.logoimage{
	height: 150px;
}

.imgaboutus{
	height: 130px; 
	width: 130px;
	border-radius: 300px;
}
body{
	background-image: url(../images/aluminumbackground.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed; 
	background-size: 100% 100%;
}

hr{
	color: white;
}

.cardwidth{
	width:16rem;
}

.bgcolor{
	background-image: url(../images/background.jpg) !important;
	background-repeat: repeat;
}

.pwhatsnew{
	padding-top: 20px;
}

.dropdown1{
	width: 300px;
	margin-bottom: 10px;

